/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

div{
    font-size: 1.5rem
}

.container-narrow{
    margin:0 auto;
    max-width: 700px;
}

.panel-heading{
    height: 55px;
}

.panel-input{
    margin-top: 50px;
}