<div class="container-narrow">
<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Ash Angular</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading" style="font-size: 1.5rem">
      <h2 class="form-signin-heading">Status</h2>
    </div>
    <div class="panel-body">
      <h3>Hi....</h3>

      <div class="container-narrow">

      <div class="panel-success">
      <div class="col-md-8">
        <h3>Asheni Perera</h3>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" style="font-size: 1.5rem"><span class="glyphicon glyphicon-pencil"></span></button>
        <button class="btn btn-danger"  style="font-size: 1.5rem"><span class="glyphicon glyphicon-trash"></span></button>

      </div>
      </div> <!-- panel-success -->

       <br>
        <br>

      <div class="panel-success">
        <div class="col-md-8">
          <h3>Ash Perera</h3>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" style="font-size: 1.5rem"><span class="glyphicon glyphicon-pencil"></span></button>
          <button class="btn btn-danger"  style="font-size: 1.5rem"><span class="glyphicon glyphicon-trash"></span></button>
        </div>
      </div> <!-- panel-success -->

      </div> <!-- container-narrow -->
    </div> <!-- panel-body -->
  </div> <!-- panel-primary -->
</div> <!-- container -->
</div> <!-- container-narrow -->